{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-motoko"],
  "overrides": [
    {
      "files": "*.mo",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
