name: 'Check commits'

on: 
  pull_request:
    types: 
      - opened
      - edited
      - reopened
      - synchronize
      - labeled
  merge_group:
    types: [checks_requested]
    branches:
      - main

jobs:
  check_pr_title:
    if: ${{ github.event_name == 'pull_request' }}
    name: 'conventional-title:required'
    runs-on: ubuntu-latest
    steps:
      # Conventional commit patterns:
      #   verb: description
      #   verb!: description of breaking change
      #   verb(scope): Description of change to $scope
      #   verb(scope)!: Description of breaking change to $scope
      # verb: feat, fix, ...
      # scope: refers to the part of code being changed.  E.g. " (accounts)" or " (accounts,canisters)"
      # !: Indicates that the PR contains a breaking change.
      - run: |
          if [[ "${{ github.event.pull_request.title }}" =~ ^(feat|fix|chore|build|ci|docs|style|refactor|perf|test)(\([-a-zA-Z0-9,]+\))?\!?\: ]]; then
              echo pass
          else
              echo "PR Title does not match conventions"
              echo "PR Title: ${{ github.event.pull_request.title }}"
              exit 1
          fi
  check_commits:
    if: ${{ github.event_name != 'pull_request' }}
    name: 'conventional-commits:required'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-python
      - name: 'Install Commitzen'
        run: pip install -U commitizen
      - name: 'Check Commit Messages'
        run: cz check --rev-range 7ce94d377c947f03a12f7e2db3d80876c0eb0134..HEAD
